@import url('https://fonts.googleapis.com/css?family=Roboto|Sacramento');
$logo-font: 'Sacramento';
$text-font: 'Roboto';

$color-mint: #EEF8F6;
$color-navy: #27354f;
$color-nav-mint: #A4BFBA;
$color-nav-navy: #3a4860;
$color-footer-gray: #CED1D8;
$footer-menu-gray: #BECCE7;
$dark-gray: #415066;
$frame-beige: #ffe1b5;

* {
    box-sizing: border-box;
}
html, body {
    margin: 3% 3% 0% 3%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color: $color-mint;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 80vh;
}
.page-header {
    position: relative;
    width: 100%;
}
.page-logo{
    font-family: $logo-font;
    font-size: 40px;
    position: absolute;
    top: -55px;
    left: 40px;
    text-align: center;
    width: 120px;
    border: 2px solid $color-navy;
}
.page-navigation {
    font-family: $text-font;
    padding: 80px 10% 0% 170px;
    color: $color-nav-mint;

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        //padding-bottom: 1px;
        &-active {
            color: $color-navy;
            :after {
                content: "";
                display: block;
                margin-left: 0;
                width: calc(100% - 8px);
                border-bottom: 1px solid $color-navy;
            }
        }
        &:hover {
            ::after {
                content: "";
                display: block;
                margin-left: 0;
                width: calc(100% - 8px);
                border-bottom: 1px solid $color-navy;
            }
        }
    }
    &__link {
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:hover{
            color:$dark-gray;
        }

    }
}
.page-content {
    padding: 4% 10% 5% 170px;
    
    .drink-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 60vh;
        overflow-y: auto;
        scroll-padding-right: 30px;

        &__item {    
            width: 33%;
            padding-bottom: 4%;
            padding-right: 4%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            
        }
        &__image {
            width: 100%;
            &:hover {
                border: 8px solid $frame-beige;
                transition: all 0.5s ease-in-out;
            }
        }
        &__desc {
            position: absolute;
            text-align: center;
            padding: 0;
            margin: 0;
            font-size: 30px;
            font-weight: 600;
            color: white;
            line-height: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}

.page-footer {
    font-family: $text-font;
    padding: 1% 4% 1% 4%;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-section {
    width: 50%;
    display: flex;
    &__info {
        color: $color-footer-gray;
    }
    &__email {
        padding: 16px 10px;
        color: $color-navy;
        text-decoration: none;
    }
}
.media-menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__header {
        color: $color-footer-gray;
        padding: 16px 10px;
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }
    &__items {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    &__item {
        padding: 16px 10px;  
    }
    &__logo {
        height: 16px;
        fill: $footer-menu-gray;
        cursor: pointer;
    }
}

@media only screen and (max-width : 768px) {
    html, body {
        margin: 4% 3% 0% 3%;
    }
    .wrapper {
        max-width: 90%;
    }
    .page-navigation {
        padding: 15% 10% 2%;
        justify-content: space-around;
        &__items {
            flex-wrap: wrap;
        }
    }
    .page-content {
        padding: 2%;
        
        .drink-gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: hidden;
            justify-content: center;
            max-height: 100%;
    
            &__item {    
                width: 90%;
                padding: 4%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__image {
                width: 100%;
            }
            &__desc {
                position: absolute;
                text-align: center;
                padding: 0;
                margin: 0;
                font-size: 30px;
                font-weight: 600;
                color: white;
                line-height: 50px;
                font-family: $text-font;
            }
        }
    }
    .page-footer {
        flex-direction: column;
        //margin: 7% 4% 6% 13%;
    }
    .contact-section {
        width: 100%;            
        justify-content: center;
    }
    .media-menu {
        width: 100%;
        justify-content: center;
    }    
}
    
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .wrapper {
        max-width: 90%;
    }
    .page-navigation {
        padding: 5% 10% 2%;

        justify-content: space-around;
        &__items {
            flex-wrap: wrap;
        }
    }
    .page-content {
        padding: 0 10%;
    }
    .drink-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: hidden;
        justify-content: center;
        max-height: 100%;
    }
}

 